<<<<<<< HEAD
page-home {
  #map {
    height: 100%;
    width: 100%;
  }
=======
page-second {
    .no-scroll .scroll-content{
        overflow: hidden;
    }
>>>>>>> 35733e8657142695b2af900657b81416f5bcf012
}
